html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0
}

.desktopNav ul li{
    display: inline-block;
}
header {
    position: fixed;
}

#hero {
    height: 100vh;
    background: grey;
}
